@model QLThuocDAPM.Data.SanPham

@{
    Layout = Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChiTietSanPham</title>
    <link rel="stylesheet" type="text/css" href="~/css/ChiTietSP.css" />

</head>
<body>

    <div class="col-5">
        <img src="~/UploadFile/@Model.HinhAnh1" alt="@Model.TenSp" class="img-fluid" />
        <!-- Thêm hình ảnh khác nếu cần -->
    </div>
    <div class="col-7">
        <h3>@Model.TenSp</h3>
        <h4>@Model.GiaTien.000 VNĐ</h4>
        <div class="">Thành phần: @Model.ThanhPhan</div>
        <div class="">Chi tiết sản phẩm: @Model.ChitietSp</div>
        <div class="">Số lượng: @Model.SoLuong</div>

        <a asp-controller="GioHang" asp-action="AddToCart" asp-route-id="@Model.MaSp" class="btn btn-success">Thêm vào giỏ hàng</a>
    </div>

</body>
</html>
