@model QLThuocDAPM.Data.NhaCungCap

<div class="supplier-details">
    <h2>@Model.TenNhaCungCap</h2>
    <img src="@Url.Content(Model.HinhAnhNhaCungCap)" alt="Hình ảnh nhà cung cấp" />
    <p><strong>Mô tả:</strong> @Model.MoTaNhaCungCap</p>
    <p><strong>Địa chỉ:</strong> @Model.DiaChi</p>
    <p><strong>Số điện thoại:</strong> @Model.Sdt</p>
    <p><strong>Email:</strong> @Model.Email</p>
</div>
